.nopadding {
  padding: 0px;
}

.leftNavTop {
  height: auto;
  border-bottom: 1px solid #eeeeee;
}

.leftNavBottom {
  height: auto;
}

.table {
  margin-bottom: 0px;
}

.leftNavList {
  display: block;
  font-size: 14px;
}

.leftNavList li {
  padding: 12px 5px 12px 15px;
  border-bottom: 1px solid #eee;
}

.leftNavList li:hover {
  background-color: #eee;
}

.leftNavList li:link {
  background-color: #eee;
}

.noTopBorder td {
  border-right: 1px solid #ddd;
}

.rightTop {
  height: auto;
  overflow-y: scroll;
}

.taskStyle tr:hover {
  background-color: rgb(238, 238, 238);
}
