<div class="scroll-view">
  <!-- sidebar menu -->
  <div class="sidebar-menu">
    <a href="#project" class="nav-header menu-first collapsed" data-toggle="collapse">
      <i class="fa fa-paper-plane-o fa pull-left ionP" aria-hidden="true"></i>Project
    </a>
    <ul id="project" class="nav nav-list collapse menu-second">
      <li><a href="#">list1</a></li>
      <li><a href="#">list2</a></li>
      <li><a href="#">list3</a></li>
      <li><a href="#">list4</a></li>
    </ul>
    <a href="#list" class="nav-header menu-first collapsed" data-toggle="collapse">
      <i class="fa fa-file-text-o fa pull-left ionP" aria-hidden="true"></i>list
    </a>
    <ul id="list" class="nav nav-list collapse menu-second">
      <li><a href="#">detail</a></li>
      <li><a href="#">detail</a></li>
      <li><a href="#">detail</a></li>
      <li><a href="#">detail</a></li>
    </ul>
  </div>
  <!-- /sidebar menu -->
</div>
