<div class="col-md-12 nopadding">
<div class="col-md-3 nopadding divHeight" style="border-right:2px solid #eeeeee;">
  <div class="leftNavTop">
    <h4>GroupList</h4>
    <ul class="leftNavList">
      <li *ngFor="let group of groupList" (click)="showProject(group)">{{group.groupName}}</li>
    </ul>
  </div>
  <div class="leftNavBottom">
    <h4>ProjectList</h4>
    <ul>
      <li class="leftNavList" *ngFor="let project of projectList" (click)="showProjectInfo(project)" >{{project.projectName}}</li>
    </ul>
  </div>
</div>
<div class="col-md-9 nopadding">
  <div class="col-md-8 nopadding">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">项目详细信息</h3>
      </div>
      <div class="panel-body" *ngIf='projectInfo != null'>
        <div class="col-md-6">
          createTime： {{projectInfo.createTime}}
        </div>
        <div class="col-md-6">
          creatorId： {{projectInfo.creatorId}}
        </div>
        <div class="col-md-6">
          description： {{projectInfo.description}}
        </div>
        <div class="col-md-6">
          gitEmail： {{projectInfo.gitEmail}}
        </div>
        <div class="col-md-6">
          gitKeyPath： {{projectInfo.gitKeyPath}}
        </div>
        <div class="col-md-6">
          gitName： {{projectInfo.gitName}}
        </div>
        <div class="col-md-6">
          gitPass： {{projectInfo.gitPass}}
        </div>
        <div class="col-md-6">
          groupId： {{projectInfo.groupId}}
        </div>
        <div class="col-md-6">
          projectId： {{projectInfo.projectId}}
        </div>
        <div class="col-md-6">
          projectName： {{projectInfo.projectName}}
        </div>
        <div class="col-md-6">
          repositoryUrl： {{projectInfo.repositoryUrl}}
        </div>
        <div class="col-md-6">
          scriptPath： {{projectInfo.scriptPath}}
        </div>
      </div>
    </div>

  </div>
  <div class="col-md-4 nopadding" style="border-left: solid #eeeeee 2px; ">
    <div class="rightTop">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Task</h3>
        </div>
        <div class="panel-body">
          面板内容
        </div>
      </div>
    </div>
    <div class="rightBottom">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">SandBox</h3>
        </div>
        <div class="panel-body">
          面板内容
        </div>
      </div>
    </div>
  </div>
</div>
</div>
