<div class="col-md-12 nopadding">
<div class="col-md-2 nopadding divHeight" style="border-right:2px solid #eeeeee;">
  <div class="leftNavTop">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Groups</h3>
      </div>
      <!--<h4>Groups</h4>-->
      <ul class="leftNavList">
        <li *ngFor="let group of groupList" (click)="showProject(group)">{{group.groupName}}</li>
      </ul>
      </div>
  </div>
  <div class="leftNavBottom">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Projects</h3>
      </div>
      <ul>
        <li class="leftNavList" *ngFor="let project of projectList" (click)="showProjectInfo(project)" >
          {{project.projectName}}
          <div class="col-md-1 pull-right" *ngIf='checkoutTag'>
            <i class="fa fa-hand-o-left" aria-hidden="true"></i>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="col-md-10 nopadding">
  <div class="col-md-4 nopadding">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Project Details</h3>
      </div>
      <div class="panel-body" *ngIf='projectinfoTag'>
        <div class="col-md-12 nopadding">
          <p>Project Name： {{projectInfo.projectName}}</p>
          <p>Creator Id： {{projectInfo.creatorId}}</p>
          <p>Git Name： {{projectInfo.gitName}}</p>
          <p>Git Email： {{projectInfo.gitEmail}}</p>
          <p>Script Path： {{projectInfo.scriptPath}}</p>
          <p>Repository Url： {{projectInfo.repositoryUrl}}</p>
          <p>Description： {{projectInfo.description}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8 nopadding" style="border-left: solid #eeeeee 2px; ">
    <div class="rightTop">
      <div class="panel panel-default" style="margin-bottom:0px;">
        <div class="panel-heading">
          <h3 class="panel-title">Assigned Tasks</h3>
        </div>
      </div>
      <div>
        <table class="table table-bordered" style="height:auto;">
          <thead>
          <tr>
            <th class="col-md-3">Branch Name</th>
            <th class="col-md-3">Branch Committer</th>
            <th class="col-md-3">Task Status</th>
            <th class="col-md-3">Operations</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let task of taskList" (click)="task.a = !task.a">
            <td colspan="8" class="nopadding" >
              <table class="table noTopBorder">
                <tr>
                  <td class="col-md-3">{{task.branchName}}</td>
                  <td class="col-md-3">{{task.branchCommitter}}</td>
                  <td class="col-md-3">{{task.taskStatus}}</td>
                  <td class="col-md-3">
                    <i class="fa fa-lg fa fa-gavel" aria-hidden="true" (click)="sureAccept(task)"></i>
                  </td>
                </tr>
                <tr [hidden]="!task.a">
                  <td colspan="7">
                    <ul>
                      <li>
                        <div class="col-md-6">Project Id:{{task.projectId}}</div>
                        <div class="col-md-6">Branch Date:{{task.branchDate}}</div>
                      </li>
                      <li>
                        <div class="col-md-6">Branch Message:{{task.branchMsg}}</div>
                        <div class="col-md-6">Create Time:{{task.createTime}}</div>
                      </li>
                    </ul>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="panel panel-default" style="margin-bottom:0px;">
        <div class="panel-heading">
          <h3 class="panel-title">Working Tasks</h3>
        </div>
      </div>
      <div>
        <table class="table table-bordered">
          <thead>
          <tr>
            <th class="col-md-4">Branch Name</th>
            <th class="col-md-4">Branch Committer</th>
            <th class="col-md-4">Task Status</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let taskWorking of taskWorkingList" (click)="taskWorking.a = !taskWorking.a">
            <td colspan="8" class="nopadding" >
              <table class="table noTopBorder">
                <tr>
                  <td class="col-md-4">{{taskWorking.branchName}}</td>
                  <td class="col-md-4">{{taskWorking.branchCommitter}}</td>
                  <td class="col-md-4">{{taskWorking.taskStatus}}</td>
                </tr>
                <tr [hidden]="!taskWorking.a">
                  <td colspan="7">
                    <ul>
                      <li>
                        <div class="col-md-6">projectId:{{taskWorking.projectId}}</div>
                        <div class="col-md-6">branchDate:{{taskWorking.branchDate}}</div>
                      </li>
                      <li>
                        <div class="col-md-6">branchMsg:{{taskWorking.branchMsg}}</div>
                        <div class="col-md-6">createTime:{{taskWorking.createTime}}</div>
                      </li>
                    </ul>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="rightBottom">
      <div class="panel panel-default" style="margin-bottom: 0;">
        <div class="panel-heading">
          <h3 class="panel-title">SandBoxes</h3>
        </div>
      </div>
      <div>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th class="col-md-2">Sandbox Name</th>
              <th class="col-md-4">Address</th>
              <th class="col-md-2">Username</th>
              <th class="col-md-1">Port</th>
              <th class="col-md-2">Password</th>
              <th class="col-md-1">Available</th>
            </tr>
          </thead>
          <tbody>
          <tr *ngFor="let sandboxes of sandboxesList" (click)="sandboxes.a = !sandboxes.a">
            <td colspan="8" class="nopadding" >
              <table class="table noTopBorder">
                <tr>
                  <td class="col-md-2">{{sandboxes.sandboxName}}</td>
                  <td class="col-md-4">{{sandboxes.address}}</td>
                  <td class="col-md-2">{{sandboxes.username}}</td>
                  <td class="col-md-1">{{sandboxes.port}}</td>
                  <td class="col-md-2">{{sandboxes.password}}</td>
                  <td class="col-md-1">{{sandboxes.available}}</td>
                </tr>
                <tr [hidden]="!sandboxes.a">
                  <td colspan="7">
                    <ul>
                      <li>
                        <div class="col-md-12">OccupiedReason:{{sandboxes.occupiedReason}}</div>
                        <div class="col-md-12">Description:{{sandboxes.description}}</div>
                      </li>
                    </ul>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</div>
