<div id="page-development">
  <div class="panel panel-default">
    <div class="panel-body noPadding">
      <div class="row">
        <div class="col-md-2 borderRight noPadding">
          <div class="leftTop">
            <ul class="list-group">
              <!--<a *ngFor="let revisionlist of revision" data-addtab="{{revisionlist.group}}" data-url="../project/project.component.html" class="list-group-item">-->
              <!--{{revisionlist.group}}-->
              <!--</a>-->
              <a data-addtab="item1" data-content="xxx" class="list-group-item">group1</a>
              <a data-addtab="item2" data-content="xxxxx" class="list-group-item">group2</a>
              <a data-addtab="item3" data-content="xxxxxx" class="list-group-item">group3</a>
              <a data-addtab="item4" data-content="xxxxxxxx" class="list-group-item">group4</a>
              <a data-addtab="item5" data-content="xxxxxxxxxxx" class="list-group-item">group5</a>
            </ul>
          </div>
          <div class="leftBottom">
            <!--<ul class="list-group">-->
            <!--<a *ngFor="let revision of revision" data-addtab="{{revisionlist.group}}" data-url="../project/project.component.html" class="list-group-item">-->
            <!--{{revision.group}}-->
            <!--</a>-->
            <!--</ul>-->
          </div>
        </div>
        <div class="col-sm-10">
          <div id="tabs">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation">
              </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane"></div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>