<div class="col-md-2 borderRight noPadding">
  <div class="leftTop">
    <ul class="list-group">
      <a *ngFor="let revisionlist of revision" data-addtab="userMenu1" data-url="../project/project.component.html" class="list-group-item">
     {{revisionlist.group}}
      </a>
    </ul>
  </div>
  <div class="leftBottom">
    <ul class="list-group">
      <li *ngFor="let revision of revision">
        <div class="list-group-item">{{revision.group}}</div>
      </li>
    </ul>
  </div>
</div>

<div class="col-md-10 noPadding">
  <div class="middleTop">
    <div class="tabs-shell tabs">
      <div class="tabs">
        <button class='new'>+</button>
      </div>
    </div>

    <div id='code'></div>

  </div>
  <div class="middleBottom">

  </div>
</div>
