<ul id="myTab" class="nav nav-tabs">
  <li class="active"><a href="#sandBoxes" data-toggle="tab">Sandboxes</a></li>
  <li (click)="deploymentInfo()"><a href="#deploymentDetails" data-toggle="tab">Deploy Details</a></li>
  <li (click)="showdeployHistory()"><a href="#deploymentHistory" data-toggle="tab">Deploy History</a></li>
  <li><a href="#packDetail" data-toggle="tab">Bundle Details</a></li>
  <li (click)="showbundleHistory()"><a href="#packHistory" data-toggle="tab">Bundle History</a></li>
</ul>
<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade in active" id="sandBoxes">
    <!--sandBoxes-->
    <div class="col-md-4 nopadding">
      <div class="left-top">
        <ol class="breadcrumb">
          <li><span>Sandboxes</span></li>
          <li class="active"><span>Accquire Sandbox</span></li>
        </ol>
        <form id="applysandBox" class="form-horizontal" role="form" style="padding-left:20px;">
          <div class="form-group">
            <label class="col-md-3 control-label">Sandbox Name</label>
            <div class="col-md-8">
              <select class="col-md-12 form-control" style="height:34px;" [(ngModel)]="sandboxId" name="sandboxId">
                <option *ngFor="let available of availableList" value="{{available.sandboxId}}">
                  {{available.sandboxName}}
                </option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Database Name</label>
            <div class="col-md-8">
              <input type="text" class="col-md-12 form-control" name="databaseName" [(ngModel)]="databaseName">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Accquire Description</label>
            <div class="col-md-8">
              <textarea class="form-control" [(ngModel)]="description" name="description" rows="5"
                        style="resize: vertical;"></textarea>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
              <button class="btn btn-default col-md-12" (click)="applySandbox()">Accquire</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-8 nopadding divHeight" style="border-left: 1px solid #eeeeee;">
      <ol class="breadcrumb" style="margin-bottom: 0;">
        <li><span>Sandboxes</span></li>
        <li class="active"><span>Current Relate Sandboxes</span></li>
      </ol>
      <div>
        <table class="table table-bordered">
          <thead>
          <tr>
            <th class="col-md-2">Sandbox Name</th>
            <th class="col-md-4">Address</th>
            <th class="col-md-1">Port</th>
            <th class="col-md-2">Username</th>
            <th class="col-md-1">Password</th>
            <th class="col-md-1">Available</th>
            <th class="col-md-1">Operations</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let available of sandboxList" (click)="available.a = !available.a">
            <td colspan="8" class="nopadding">
              <table class="table noTopBorder">
                <tr>
                  <td class="col-md-2">{{available.sandboxName}}</td>
                  <td class="col-md-4">{{available.address}}</td>
                  <td class="col-md-1">{{available.port}}</td>
                  <td class="col-md-2">{{available.username}}</td>
                  <td class="col-md-1">{{available.password}}</td>
                  <td class="col-md-1">{{available.available}}</td>
                  <td class="col-md-1">
                    <i class="fa fa-lg fa-trash" aria-hidden="true" (click)="deletesandBox(available)"></i>
                  </td>
                </tr>
                <tr [hidden]="!available.a">
                  <td colspan="7">
                    <ul>
                      <li>
                        <div class="col-md-12">occupiedReason:{{available.occupiedReason}}</div>
                        <div class="col-md-12">description:{{available.description}}</div>
                      </li>
                    </ul>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="deploymentDetails" style="margin-top:20px;">
    <!--bushuxiangqing-->
    <form class="form-horizontal" role="form">
      <div class="form-group col-md-12">
        <label class="col-md-2 control-label">Sandbox Name</label>
        <div class="col-md-4">
          <select class="form-control" [(ngModel)]="sandboxId" name="sandboxId" style="height:34px;">
            <option *ngFor="let sandbox of sandboxList" value="{{sandbox.sandboxId}}">
              {{sandbox.sandboxName}}
            </option>
          </select>
        </div>
        <div class="checkbox col-md-offset-1 col-md-2" style="display: inline-block">
          <label>
            <input [(ngModel)]="verifySkipped" name="verifySkipped" type="checkbox"> SKIP Verification
          </label>
        </div>
        <div class="col-md-1" style="display: inline-block">
          <button class="btn btn-default" (click)="deploy()">Deploy</button>
        </div>
      </div>
      <div class="form-group col-md-12">
        <label class="col-md-2 control-label">Commit ID</label>
        <div class="col-md-8">
          <input type="text" name="commitId" [(ngModel)]="deployCommitId" class="col-md-12 form-control">
        </div>
      </div>
      <div class="form-group col-md-12">
        <label class="col-md-2 control-label">Deploy Description</label>
        <div class="col-md-8">
          <textarea class="form-control" [(ngModel)]="description" name="description" rows="8"
                    style="resize: vertical;"></textarea>
        </div>
      </div>
    </form>
  </div>
  <div class="tab-pane fade" id="deploymentHistory">
    <!--bushulishi-->
    <table class="table table-bordered table-striped">
      <thead>
      <tr>
        <th>Deploy ID</th>
        <th>Deployer Name</th>
        <th>Commit ID</th>
        <th>Sandbox Name</th>
        <th>Deploy Description</th>
        <th>Deploy Status</th>
        <th>Deploy Result</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let deployHistory of deployHistoryList">
        <td>{{deployHistory.deployId}}</td>
        <td>{{deployHistory.deployerName}}</td>
        <td>{{deployHistory.commitId}}</td>
        <td>{{deployHistory.sandboxName}}</td>
        <td>{{deployHistory.description}}</td>
        <td>{{deployHistory.status}}</td>
        <td>{{deployHistory.statusMsg}}</td>
      </tr>
      </tbody>
    </table>

  </div>
  <div class="tab-pane fade" id="packDetail" style="margin-top:20px;">
    <!--dabaoxiangqing-->
    <form class="form-horizontal" role="form" id="bundleForm">
      <div class="form-group col-md-12">
        <label class="col-md-2 control-label">Bundle Type</label>
        <div class="col-md-3">
          <select class="col-md-12 form-control" style="height:34px;" [ngModel]="bundleType"
                  (ngModelChange)="showTagFunction($event)" name="bundleType">
            <option value="0">Fullly Bundle</option>
            <option value="1" selected>Increamental Bundle</option>
          </select>
        </div>
        <div [hidden]='showTag'>
          <label class="col-md-1 control-label">Base Bundle</label>
          <div class="col-md-2">
            <input type="text" [(ngModel)]="formerBundleId" name="formerBundleId" class="form-control"/>
          </div>
        </div>
        <div class="col-md-1">
          <button class="btn btn-default" (click)="bundle()">Bundle</button>
        </div>
      </div>
      <div class="form-group col-md-12">
        <label class="col-md-2 control-label">Commit ID</label>
        <div class="col-md-8">
          <input type="text" name="commitId" [(ngModel)]="bundleCommitId" class="col-md-12 form-control">
        </div>
      </div>
      <div class="form-group col-md-12">
        <label class="col-md-2 control-label">Bundle Description</label>
        <div class="col-md-8">
          <textarea class="form-control" [(ngModel)]="description" name="description" rows="8"
                    style="resize: vertical;"></textarea>
        </div>
      </div>
    </form>
  </div>
  <div class="tab-pane fade" id="packHistory">
    <!--dabaolishi-->
    <table class="table table-bordered table-striped">
      <thead>
      <tr>
        <th>Bundle ID</th>
        <th>Bundler Name</th>
        <th>Base Bundle ID</th>
        <th>Commit ID</th>
        <th>Bundle Description</th>
        <th>Bundle Status</th>
        <th>Bundle Result</th>
        <th>Download</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let bundleHistory of bundleHistoryList">
        <td>{{bundleHistory.bundleId}}</td>
        <td>{{bundleHistory.bundlerName}}</td>
        <td>{{bundleHistory.formerBundleId}}</td>
        <td>{{bundleHistory.commitId}}</td>
        <td>{{bundleHistory.description}}</td>
        <td>{{bundleHistory.status}}</td>
        <td>{{bundleHistory.statusMsg}}</td>
        <td>
          <i *ngIf="bundleHistory.status == 'success'" class="fa fa-arrow-down" aria-hidden="true" (click)="download(bundleHistory.bundleId)"></i>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <iframe src="" frameborder="0" id="bundle_download" name="bundle_download" width="0" height="0"></iframe>
</div>
