.noPadding{
  padding:0px;
}
.borderRight{
  height:auto;
  border:1px solid #eee;
}
.display{
  display:block;
}
.displayNo{
  display:none;
}
.table{
  margin-bottom:0px;
}
.noPadTop{
  padding:0px;
}
.noTopBorder td{
  border-right: 1px solid #ddd;
}
