.noPadding{
  padding:0px;
}
.borderRight{
  height:auto;
  border:1px solid #eee;
}
.rightTop{
  height:auto;
  border-bottom:2px solid #eeeeee;
}
.rightBottom{
  height:auto;
}
.iconColor{
  color:#5cb85c;
}
.table{
  margin-bottom:0px;
}
.noTopBorder td{
  border-right: 1px solid #ddd;
}
.assignTableStyle tr:hover{
  background-color: #94A6B0;
}
.assignListStyle li{
  border-bottom: 1px solid #eee;
}
.assignListStyle li:hover{
  background-color: #eee;
}

