<div class="col-md-2 borderRight noPadding">
  <div class="panel panel-default" style="margin-bottom:0px;">
    <div class="panel-heading">
      <h3 class="panel-title" style="display: inline-block;margin-right:20px;">Groups</h3>
    </div>
  </div>
  <ul class="assignListStyle">
    <li class="col-md-12"  style="height:35px; line-height:35px;" *ngFor="let taskGroup of taskGroupList">
      <div class="col-md-12" (click)="showTaskProject(taskGroup)">{{taskGroup.groupName}}</div>
    </li>
  </ul>
</div>
<div class="col-md-2 borderRight noPadding">
  <div class="panel panel-default" style="margin-bottom:0px;">
    <div class="panel-heading">
      <h3 class="panel-title" style="display: inline-block;margin-right:20px;">Projects</h3>
    </div>
  </div>
  <ul class="assignListStyle">
    <li class="col-md-12" *ngFor="let taskProject of taskProjectList" style="height:35px; line-height:35px;">
      <div class="col-md-12" (click)="showTask(taskProject)">{{taskProject.projectName}}</div>
    </li>
  </ul>
</div>

<div class="col-md-8 borderRight noPadding">
  <div class="rightTop">
    <div class="panel panel-default"  style="margin-bottom:0px;">
      <div class="panel-heading">
        <h3 class="panel-title" style="display: inline-block;margin-right:20px;">Undealed Tasks</h3>
      </div>
    </div>
    <div>
      <table class="table table-bordered">
        <thead>
        <tr>
          <th class="col-md-2">Branch Name</th>
          <th class="col-md-2">Branch Committer</th>
          <th class="col-md-2">Branch Date</th>
          <th class="col-md-1">Status</th>
          <th class="col-md-1">Operations</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let unassignedtask of unassignedtaskList" (click)="unassignedtask.a = !unassignedtask.a">
          <td colspan="8" class="noPadding" >
            <table class="table noTopBorder assignTableStyle">
              <tr>
                <td class="col-md-2">{{unassignedtask.branchName}}</td>
                <td class="col-md-2">{{unassignedtask.branchCommitter}}</td>
                <td class="col-md-2">{{unassignedtask.branchDate}}</td>
                <td class="col-md-1">{{unassignedtask.taskStatus}}</td>
                <td class="col-md-1">
                  <i style="margin-right:15px;" class="fa fa-lg fa-check" aria-hidden="true" (click)="assignTask(unassignedtask)"></i>
                  <i class="fa fa-lg fa-close" aria-hidden="true" (click)="ignore(unassignedtask)"></i>
                </td>
              </tr>
              <tr [hidden]="!unassignedtask.a">
                <td colspan="7">
                  <ul>
                    <li>
                      <div class="col-md-12">Branch Message:{{unassignedtask.branchMsg}}</div>
                    </li>
                  </ul>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="rightBottom">
    <div class="panel panel-default"  style="margin-bottom:0;">
      <div class="panel-heading">
        <h3 class="panel-title" style="display: inline-block;margin-right:20px;">Dealed Tasks</h3>
      </div>
    </div>
    <div>
      <table class="table table-bordered">
        <thead>
        <tr>
          <th class="col-md-3">Assigner ID</th>
          <th class="col-md-3">Assignee ID</th>
          <th class="col-md-2">Branch Name</th>
          <th class="col-md-2">Branch Committer</th>
          <th class="col-md-1">Status</th>
          <th class="col-md-1">Operations</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let assignedtask of assignedtaskList" (click)="assignedtask.a = !assignedtask.a">
          <td colspan="8" class="noPadding" >
            <table class="table noTopBorder assignTableStyle">
              <tr>
                <td class="col-md-3">{{assignedtask.assignerId}}</td>
                <td class="col-md-3">{{assignedtask.assigneeId}}</td>
                <td class="col-md-2">{{assignedtask.branchName}}</td>
                <td class="col-md-2">{{assignedtask.branchCommitter}}</td>
                <td class="col-md-1">{{assignedtask.taskStatus}}</td>
                <td class="col-md-1">
                  <i class="fa fa-lg fa-circle-o-notch" aria-hidden="true" (click)="reassignTask(assignedtask)"></i>
                </td>
              </tr>
              <tr [hidden]="!assignedtask.a">
                <td colspan="7">
                  <ul>
                    <li>
                      <div class="col-md-12">Branch Message:{{assignedtask.branchMsg}}</div>
                      <div class="col-md-12">Branch Date:{{assignedtask.branchDate}}</div>
                    </li>
                  </ul>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<!--assignTask-->
<div class="modal fade" id="assignTask" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
        <h4 class="modal-title" id="newLabel2">
          Assign Task
        </h4>
      </div>
      <div class="modal-body" id="editForm2">
        <form id="" class="form-horizontal" role="form">
          <div class="form-group">
            <label class="col-md-3 control-label">Developer</label>
            <div class="col-md-8">
              <select class="col-md-12 form-control" style="height:34px;" [(ngModel)]="developer" name="developer">
                <option *ngFor="let developer of developersList" value="{{developer.userId}}">
                  {{developer.userName}}
                </option>
              </select>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" (click)="assignTaskByDeveloper()" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>

<!--reassignTask-->
<div class="modal fade" id="reassignTask" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
        <h4 class="modal-title" id="newLabel3">
          Reassign Task
        </h4>
      </div>
      <div class="modal-body" id="editForm3">
        <form id="" class="form-horizontal" role="form">
          <div class="form-group">
            <label class="col-md-3 control-label">Developer</label>
            <div class="col-md-8">
              <select class="col-md-12 form-control" style="height:34px;" [(ngModel)]="developer" name="developer">
                <option *ngFor="let developer of developersList" value="{{developer.userId}}">
                  {{developer.userName}}
                </option>
              </select>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" (click)="reassignTaskByDeveloper()" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>
