<div class="col-md-2 borderRight noPadding">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title" style="display: inline-block;margin-right:20px;">groupList</h3>
      <i class="fa fa-gavel" data-toggle="modal" data-target="#newGroup" aria-hidden="true"></i>
    </div>
    <div class="panel-body">
      <ul>
        <li class="col-md-12" style="height:25px;" *ngFor="let group of groupList">
          <div class="col-md-5" (click)="showProject(group)">{{group.groupName}}</div>
          <div class="col-md-7"  *ngIf="group.groupName=='default'?false:true">
            <i class="fa fa-lg fa-pencil-square-o" style="margin-right:10px;"
               (click)="getGroupInfo(group)" aria-hidden="true">
            </i>
            <i class="fa fa-trash fa-lg"  aria-hidden="true" (click)="delete(group)"></i>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="col-md-2 borderRight noPadding">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title" style="display: inline-block;margin-right:20px;">projectList</h3>
      <i class="fa fa-gavel"  data-toggle="modal" data-target="#newProject" aria-hidden="true"></i>
    </div>
    <div class="panel-body">
      <ul>
        <li class="col-md-12" style="height:25px;" *ngFor="let project of projectList">
          <div class="col-md-4" (click)="showDeveloper(project)">{{project.projectName}}</div>
          <div class="col-md-8">
            <i class="fa fa-lg fa-pencil-square-o" style="margin-right:10px;" aria-hidden="true" (click)="editProject(project)"></i>
            <i class="fa fa-lg fa-external-link" style="margin-right:10px;" aria-hidden="true" (click)="moveProject(project)"></i>
            <i class="fa fa-trash fa-lg"  aria-hidden="true" (click)="deleteProject(project)"></i>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="col-md-8 borderRight noPadding">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title" style="display: inline-block;margin-right:20px;">developerList</h3>
      <i class="fa fa-gavel" data-toggle="modal" data-target="#newDeveloper" aria-hidden="true"></i>
    </div>
  </div>
  <div class="col-md-12 rightTop noPadding" style="border-bottom: 2px solid #ededed;">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title" style="display: inline-block;margin-right:20px;">指定项目下的开发人员</h3>
      </div>
      <div class="panel-body">
        <ul>
          <li class="col-md-12" style="height:25px;" *ngFor="let developerProject of projectDeveloper">
            <div class="col-md-4">{{developerProject.userName}}</div>
            <div class="col-md-8">
              <i class="fa fa-lg fa-pencil-square-o" style="margin-right:10px;" aria-hidden="true"></i>
              <i class="fa fa-lg fa-external-link" style="margin-right:10px;" aria-hidden="true"></i>
              <i class="fa fa-trash fa-lg"  aria-hidden="true"></i>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!--<div class="col-md-12 rightBottom noPadding">-->
    <!--<div class="panel panel-default">-->
      <!--<div class="panel-heading">-->
        <!--<h3 class="panel-title" style="display: inline-block;margin-right:20px;">显示所有用户/管理员</h3>-->
      <!--</div>-->
      <!--<div class="panel-body">-->
        <!--<ul>-->
          <!--<li class="col-md-12" style="height:25px;" *ngFor="let developer of developerAll">-->
            <!--<div class="col-md-4">{{developer.userName}}</div>-->
            <!--<div class="col-md-8">-->
              <!--<i class="fa fa-lg fa-pencil-square-o" style="margin-right:10px;" aria-hidden="true"></i>-->
              <!--<i class="fa fa-lg fa-external-link" style="margin-right:10px;" aria-hidden="true"></i>-->
              <!--<i class="fa fa-trash fa-lg"  aria-hidden="true"></i>-->
            <!--</div>-->
          <!--</li>-->
        <!--</ul>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
</div>

<!--editGroup-->
<div class="modal fade" id="editGroup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
        <h4 class="modal-title" id="editLabel1">
          EditGroup
        </h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label class="col-md-3 control-label">项目组名称</label>
          <div class="col-md-6">
            <input type="text"  [(ngModel)]="groupName" name="groupName" class="form-control" placeholder="请输入项目组的名称"/>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-6">
            <input type="hidden"  [(ngModel)]="groupId" name="groupId" class="form-control" />
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary" (click)="saveGroupName()">保存</button>
      </div>
    </div>
  </div>
</div>

<!--newGroup-->
<div class="modal fade" id="newGroup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
        <h4 class="modal-title" id="editLabel">
          newGroup
        </h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label class="col-md-3 control-label">项目组名称</label>
          <div class="col-md-6">
            <input type="text"  [(ngModel)]="groupName" name="groupName" class="form-control" placeholder="请输入项目组的名称"/>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary" (click)="createGroup()">新建</button>
      </div>
    </div>
  </div>
</div>

<!--newProject-->
<div class="modal fade" id="newProject" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
        <h4 class="modal-title" id="editLabel2">
          newProject
        </h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label class="col-md-3 control-label">项目所在组</label>
            <div class="col-md-6">
              <select class="col-md-12" style="height:34px;" [(ngModel)]="groupId" name="groupId">
                <option *ngFor="let group of groupList" value="{{group.groupId}}">
                  {{group.groupName}}
                </option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">项目名称</label>
            <div class="col-md-6">
              <input type="text"  [(ngModel)]="projectName" name="projectName" class="form-control" placeholder="请输入项目的名称"/>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">仓库地址</label>
            <div class="col-md-6">
              <input type="text"  [(ngModel)]="repositoryUrl" name="repositoryUrl" class="form-control" placeholder="请输入仓库的地址"/>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">git名称</label>
            <div class="col-md-6">
              <input type="text"  [(ngModel)]="gitName" name="gitName" class="form-control" placeholder="请输入gitName"/>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">git邮箱</label>
            <div class="col-md-6">
              <input type="text"  [(ngModel)]="gitEmail" name="gitEmail" class="form-control" placeholder="请输入gitEmail"/>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">gitPass&Key</label>
            <div class="col-md-6">
              <select class="col-md-12" style="height:34px; margin-bottom:10px;" [(ngModel)]="passKey" name="passKey">
                <option value="0" selected>gitPass</option>
                <option value="1">gitPrivateKey</option>
              </select>
            </div>
            <div class="col-md-6 col-md-push-3" *ngIf="passKey==0">
              <input type="text"  [(ngModel)]="gitPass" name="gitPass" class="form-control" placeholder="请输入gitPass"/>
            </div>
            <div class="col-md-6 col-md-push-3" *ngIf="passKey==1">
              <textarea class="form-control" [(ngModel)]="gitPrivateKey" name="gitPrivateKey" rows="4"></textarea>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">脚本路径</label>
            <div class="col-md-6">
              <input type="text"  [(ngModel)]="scriptPath" name="scriptPath" class="form-control" placeholder="请输入脚本路径"/>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">描述</label>
            <div class="col-md-6">
              <textarea class="form-control"  [(ngModel)]="description" name="description" rows="4"></textarea>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary" (click)="createProject()">新建</button>
      </div>
    </div>
  </div>
</div>

<!--editProject-->
<div class="modal fade" id="editProject" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
        <h4 class="modal-title" id="editLabel3">
          editProject
        </h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label class="col-md-3 control-label">项目所在组</label>
            <div class="col-md-6">
              <select class="col-md-12" style="height:34px;" [(ngModel)]="groupId" name="groupId">
                <option *ngFor="let group of groupList" value="{{group.groupId}}">
                  {{group.groupName}}
                </option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">项目名称</label>
            <div class="col-md-6">
              <input type="text"  [disabled]='true' [(ngModel)]="projectName" name="projectName" class="form-control" placeholder="请输入项目的名称"/>
            </div>
          </div>
          <div class="form-group" [hidden]="true">
            <label class="col-md-3 control-label">项目Id</label>
            <div class="col-md-6">
              <input type="text"  [disabled]='true' [(ngModel)]="projectId" name="projectId" class="form-control"/>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">仓库地址</label>
            <div class="col-md-6">
              <input type="text"  [disabled]='true' [(ngModel)]="repositoryUrl" name="repositoryUrl" class="form-control" placeholder="请输入仓库的地址"/>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">git名称</label>
            <div class="col-md-6">
              <input type="text"  [(ngModel)]="gitName" name="gitName" class="form-control" placeholder="请输入gitName"/>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">git邮箱</label>
            <div class="col-md-6">
              <input type="text"  [(ngModel)]="gitEmail" name="gitEmail" class="form-control" placeholder="请输入gitEmail"/>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">gitPass&Key</label>
            <div class="col-md-6">
              <select class="col-md-12" style="height:34px; margin-bottom:10px;" [(ngModel)]="passKey" name="passKey">
                <option value="0" selected>gitPass</option>
                <option value="1">gitPrivateKey</option>
              </select>
            </div>
            <div class="col-md-6 col-md-push-3" *ngIf="passKey==0">
              <input type="text"  [(ngModel)]="gitPass" name="gitPass" class="form-control" placeholder="请输入gitPass"/>
            </div>
            <div class="col-md-6 col-md-push-3" *ngIf="passKey==1">
              <textarea class="form-control" [(ngModel)]="gitPrivateKey" name="gitPrivateKey" rows="4"></textarea>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">脚本路径</label>
            <div class="col-md-6">
              <input type="text"  [disabled]='true' [(ngModel)]="scriptPath" name="scriptPath" class="form-control" placeholder="请输入脚本路径"/>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">描述</label>
            <div class="col-md-6">
              <textarea class="form-control"  [(ngModel)]="description" name="description" rows="4"></textarea>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary" (click)="saveProject()">保存</button>
      </div>
    </div>
  </div>
</div>

<!--moveProject-->
<div class="modal fade" id="moveProject" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
        <h4 class="modal-title" id="newLabel4">
          moveProject
        </h4>
      </div>
      <div class="modal-body" id="editForm4">
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label class="col-md-2 control-label">项目所在组</label>
            <div class="col-md-3">
              <select class="col-md-12" style="height:34px;" [(ngModel)]="groupId" name="groupId">
                <option *ngFor="let group of groupList" value="{{group.groupId}}">
                  {{group.groupName}}
                </option>
              </select>
            </div>
          </div>
          <div class="form-group" [hidden]='true'>
            <label class="col-md-2 control-label">项目Id</label>
            <div class="col-md-5">
              <input type="text"  [(ngModel)]="projectId" name="projectId" class="form-control"/>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" (click)="saveMove()" class="btn btn-primary">保存</button>
      </div>
    </div>
  </div>
</div>

<!--newDeveloper-->
<div class="modal fade" id="newDeveloper" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
        <h4 class="modal-title" id="newLabel5">
          newDeveloper
        </h4>
      </div>
      <div class="modal-body" id="editForm5">
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label class="col-md-3 control-label">人员所在项目组</label>
            <div class="col-md-5">
              <select class="col-md-12" style="height:34px;" [(ngModel)]="groupId" name="groupId">
                <option *ngFor="let project of projectList" value="{{project.groupId}}">
                  {{project.projectName}}
                </option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">人员所在项目</label>
            <div class="col-md-5">
              <select class="col-md-12" style="height:34px;" [(ngModel)]="projectId" name="projectId">
                <option *ngFor="let project of projectList" value="{{project.projectId}}">
                  {{project.projectName}}
                </option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">用户名</label>
            <div class="col-md-5">
              <input type="text"  [(ngModel)]="userName" name="userName" class="form-control"/>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">密码</label>
            <div class="col-md-5">
              <input type="text"  [(ngModel)]="userPass" name="userPass" class="form-control"/>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">头像路径</label>
            <div class="col-md-5">
              <input type="file"  [(ngModel)]="avatarPath" name="avatarPath" class="form-control"/>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">git名称</label>
            <div class="col-md-5">
              <input type="text"  [(ngModel)]="gitName" name="gitName" class="form-control"/>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">git邮箱</label>
            <div class="col-md-5">
              <input type="text"  [(ngModel)]="gitEmail" name="gitEmail" class="form-control"/>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">用户角色</label>
            <div class="col-md-5">
              <select class="col-md-12" style="height:34px;" [(ngModel)]="isAdmin" name="isAdmin">
                <option value="0">管理员</option>
                <option value="1">普通用户</option>
              </select>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary">创建</button>
      </div>
    </div>
  </div>
</div>



