<div class="col-md-4 borderRight noPadding">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title" style="display: inline-block;margin-right:20px;">groupList</h3>
        <i class="fa fa-gavel" data-toggle="modal" data-target="#newGroup" aria-hidden="true"></i>
    </div>
    <div class="panel-body">
      <ul>
        <li class="liDisplay" *ngFor="let grouplist of groupDatas">
          <div class="hoverAction" (click)="groupChild()">{{grouplist.group}}</div>
          <!--<div class="{{hoverTag?'btnDisplay':'btnNodisplay'}}">-->
          <div class="pull-right">
            <button class="btn btn-default  btn-xs newBtn"  data-toggle="modal" data-target="#edit">edit</button>
            <button (click)="delete(grouplist)" class="btn btn-default btn-xs newBtn">delete</button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="col-md-4 borderRight noPadding">
  <div class="lead titleClass">projectList
    <button class="btn btn-default pull-right newBtn" data-toggle="modal" data-target="#newProject">new</button>
  </div>
  <ul>
    <li class="liDisplay" *ngFor="let projectlist of projectDatas">
      <div (click)="projectChild()">{{projectlist.project}}</div>
      <div class="pull-right">
        <button class="btn btn-default btn-xs newBtn">edit</button>
        <button (click)="delete(projectlist)" class="btn btn-default btn-xs newBtn">delete</button>
      </div>
    </li>
  </ul>
</div>

<div class="col-md-4 borderRight noPadding">
  <div class="lead titleClass">developerList
    <button class="btn btn-default pull-right newBtn" data-toggle="modal" data-target="#newDeveloper">new</button>
  </div>
  <ul>
    <li class="liDisplay" *ngFor="let developerlist of developerDatas">
      <div (click)="projectChild()">{{developerlist.developer}}</div>
      <div class="pull-right">
        <button class="btn btn-default btn-xs newBtn">edit</button>
        <button (click)="delete(developerlist)" class="btn btn-default btn-xs newBtn">delete</button>
      </div>
    </li>
  </ul>
</div>

<!-- newGroupModal -->
<div class="modal fade" id="newGroup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
        <h4 class="modal-title" id="newLabel">
          NewGroup
        </h4>
      </div>
      <div class="modal-body">
        balabalabalabalabala
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary">保存</button>
      </div>
    </div>
  </div>
</div>

<!-- groupEditModal -->
<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
        <h4 class="modal-title" id="editLabel">
          Edit
        </h4>
      </div>
      <div class="modal-body">
        balabalabalabalabala
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary">保存</button>
      </div>
    </div>
  </div>
</div>

<!-- newProjectModal -->
<div class="modal fade" id="newProject" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
        <h4 class="modal-title" id="newProjectLabel">
          NewProjet
        </h4>
      </div>
      <div class="modal-body">
        balabalabalabalabala
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary">保存</button>
      </div>
    </div>
  </div>
</div>

<!-- newDeveloperModal -->
<div class="modal fade" id="newDeveloper" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
        <h4 class="modal-title" id="newDeveloperLabel">
          NewDeveloper
        </h4>
      </div>
      <div class="modal-body">
        balabalabalabalabala
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary">保存</button>
      </div>
    </div>
  </div>
</div>
