<div class="col-md-2 nopadding">
  <app-left-nav [projectInfo]="projectInfo"></app-left-nav>
</div>
<div class="col-md-10 nopadding">
 <div class="col-md-8 nopadding">
   <div class="panel panel-default">
     <div class="panel-heading">
       <h3 class="panel-title">项目详细信息</h3>
     </div>
     <div class="panel-body">
       {{projectInfo.projectName}}
     </div>
   </div>

 </div>
  <div class="col-md-4 nopadding" style="border-left: solid #eeeeee 2px; ">
    <div class="rightTop">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Task</h3>
        </div>
        <div class="panel-body">
          面板内容
        </div>
      </div>
    </div>
    <div class="rightBottom">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">SandBox</h3>
        </div>
        <div class="panel-body">
          面板内容
        </div>
      </div>
    </div>
  </div>
</div>
